# Ignore everything
*

# But not these files.
!.gitignore
!.gitconfig
!.ackrc
!.zshrc
!.gitignore_global
!.gitattributes_global
!.travis.yml
!.vimrc

# And those folders.
!/.prefs/
!/.prefs/**
!bash/
!bash/**

# Google Drive configuration.
!.gdfuse/
!.gdfuse/default
!.gdfuse/default/config

# Ignore so we won't commit these in the allowed dirctories.
.DS_Store
