# Ignore everything
*

# But not these files.
!.gitignore
!.gitconfig
!.ackrc
!.zshrc
!.gitignore_global
!.gitattributes_global
!.travis.yml
!.vimrc

# And those folders.
!/.prefs/
!/.prefs/**
!bash/
!bash/**
!.github/
!.github/**

# Add Jira.
!.jira.d/
!.jira.d/**

# Add Aspell.
!.aspell/
!.aspell/**

# Ignore Jira cookies.
.jira.d/cookies.js

# Ignore so we won't commit these in the allowed dirctories.
.DS_Store
